RewriteEngine On
Options All -Indexes

## FORCE AUTHORIZATION

RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

## FORCE WWW REDIRECT

# RewriteCond %{HTTP_HOST} !^www\. [NC]
# RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

## FORCE HTTPS REDIRECT

# RewriteCond %{HTTP:X-Forwarded-Proto} !https
# RewriteCond %{HTTPS} off
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

## HTTP ROUTE FILES

RewriteRule ^server/uploads/(.*)$ server/Storage/uploads/$1 [L,QSA]
RewriteRule ^server/(.*)$ server/index.php [L,QSA]

RewriteRule ^local/(.*)$ app/Views/pages/$1 [L,QSA]
RewriteRule ^assets/(.*)$ app/Views/assets/$1 [L,QSA]

RewriteRule ^(.*)$ app/index.php [L,QSA]